test/Luxembourg2013/vehicle-types.dtd

<!ELEMENT vTypes (vType)*>
<!ELEMENT vType EMPTY>
<!ATTLIST area 
   id       ID       #IMPLIED
   accel    CDATA    #REQUIRED
   decel    CDATA    #REQUIRED
   signma   CDATA    #REQUIRED
   length   CDATA    #REQUIRED
   minGap   CDATA    #REQUIRED
   maxSpeed CDATA    #REQUIRED
   color    CDATA    #REQUIRED
>
